@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
}

.mainContainer {
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  margin-top: 10px;
  height: 500px;
  width: 1500px;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.mainContainer::before {
  content: "";
  position: relative;
  width: 800px;
  height: 450px;
  background-color: #1c4c96;
  top: -110px;
  left: -332px;
  position: absolute;
  rotate: -45deg;
}

.mainContainer::after {
  content: "";
  position: relative;
  width: 800px;
  height: 450px;
  background-color: #1c4c96;
  top: 160px;
  right: -332px;
  position: absolute;
  rotate: -45deg;
}

h1 {
  font-size: 100px;
  color: #1c4c96;
  position: relative;
}

h1::before {
  content: "";
  height: 5px;
  width: 100%;
  bottom: -4px;
  background: #1c4c96;
  position: absolute;
}

h2 {
  font-size: 32px;
  display: block;
  background-color: #1c4c96;
  text-align: center;
  width: 370px;
  color: #fff;
  border-radius: 50px;
}
h3 {
  color: #1c4c96;
  font-size: 22px;
}

ul {
  background-color: #1c4c96;
  border-radius: 50px;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 20px;
  height: 50px;
  width: 170px;
}

li img {
  width: 40px;
}
